@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100&display=swap'); 

body{
    font-family: 'Kanit', sans-serif;

    font-family: 'Roboto Condensed', sans-serif;

}

:root{
    --primary-color: #7c3aed;
}

hr{
    margin: 2rem 0rem;
}

.container{
    padding-left: 1rem;
    padding-right: 1rem;
    color: red;
}

.container-second{
    padding-left: 12rem;    
    margin: auto;
    color: blue;
}

/* links */
.primary-link{
    text-decoration: none;
    padding: 0.5rem;
}
 .primary-link{
    background-color:var(--primary-color);
    color: white;
    border-radius: 0.8rem;
 }

 .secondry-link{
    background-color:var(--primary-color);
    color: white;
    border-radius: 0.8rem;
    border: 1px solid white;
    text-decoration: none;
    padding: 0.5rem;
 }

/* lists */

.list-non-bullet{
    list-style: none;
}


.list-item-inline{
    display: inline;
    padding: 0 0.5rem;
    text-decoration: none;
}


/* navigation */
.navbar {
    font-weight: bold;
    font-size: 1.1rem;
}


.navigation {
background-color: var(--primary-color);
text-align: right;
padding: 1rem;
border-bottom-right-radius: 1rem;
border-bottom-left-radius: 1rem;

}


.navigation.link {
    color: aliceblue;
}


/* header */


 .hero {
    padding: 2rem;
 }